#title
{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: coral;
}
.calculator
{
        width:300px;
        height:300px;
        background-color: chocolate;
        border:2px solid brown;
        margin:auto;
        padding-left:5px;
        padding-bottom:5px;

}
.calculator td th
{
        height:16.66%;
}
.result
{
        text-align:center;
}
.resultat
{
        width:90%;
        text-align:left;
}
.calc_td_calculs
{
        text-align:center;
}
.calc_calculs
{
        width:90%;
        text-align:left;
}
.calc_td_btn
{
        width:25%;
        height:100%;
}
.btn

{
        width:90%;
        height:90%;
        font-size:20px;
}
